 html, body {
  height: 100%;
  background: linear-gradient(to bottom right, #86E5FF, #7DE8BC);
  text-align: center;
}

header{
  text-align: center;
  font-family: 'tahuregular';
  font-weight: normal;
  font-style: normal;
  color: whitesmoke;
  font-size: 125px;
  margin-top: 5%; 
  padding: 2%;
}

li {
  list-style: none;
}

#inpt {
  width: 40%;
}

input {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  background: whitesmoke;
  border: none;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  color: #666;
  height: 40px;
}

ul#list {
  width: 40%;
  height: 100%;
  margin: 0 auto;
}

#check, label {
  border-top: 1px dashed whitesmoke;
  border-bottom: 1px dashed whitesmoke;
  font-family: 'Oxygen', sans-serif; 
  color: whitesmoke;
  font-size: 30px;
  padding-right: 10%;
  margin: 3%;
  padding: 2%;
}